@font-face {
  font-family: 'Crimson';
  src: url('fonts/crimson/crimson-roman-webfont.woff2') format('woff2'), url('fonts/crimson/crimson-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: url('fonts/crimson/crimson-italic-webfont.woff2') format('woff2'), url('fonts/crimson/crimson-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson';
  src: url('fonts/crimson/crimson-semibold-webfont.woff2') format('woff2'), url('fonts/crimson/crimson-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: url('fonts/crimson/crimson-semibolditalic-webfont.woff2') format('woff2'), url('fonts/crimson/crimson-semibolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson';
  src: url('fonts/crimson/crimson-bold-webfont.woff2') format('woff2'), url('fonts/crimson/crimson-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: url('fonts/crimson/crimson-bolditalic-webfont.woff2') format('woff2'), url('fonts/crimson/crimson-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
