@font-face {
  font-family: 'Crimson';
  src: url('crimson-roman-webfont.woff2') format('woff2'), url('crimson-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: url('crimson-italic-webfont.woff2') format('woff2'), url('crimson-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson';
  src: url('crimson-semibold-webfont.woff2') format('woff2'), url('crimson-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: url('crimson-semibolditalic-webfont.woff2') format('woff2'), url('crimson-semibolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson';
  src: url('crimson-bold-webfont.woff2') format('woff2'), url('crimson-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: url('crimson-bolditalic-webfont.woff2') format('woff2'), url('crimson-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
