@import "../vendor/cyclist-grid/dist/scss/cyclist-grid.scss";
@import "layout";
@import "typography";

#social svg {
  color: black;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: -3px;
}

ul#social {
  flex-direction: row;
  float: right;
}

ul#social li {
  list-style: none;
}

ul#social li a {
  text-decoration: none;
}
