@import "../vendor/cyclist-grid/dist/scss/cyclist-grid.scss";
@import "layout";
@import "typography";

#social svg {
  color: black;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: -3px;
}

ul#social {
  display: flex;
  justify-content: flex-end;
  margin: $leading-height * 2 0 0 0;
}

ul#social li {
  list-style: none;
  width: 22px;
  text-align: center;
}

ul#social li a {
  display: block;
}

ul#social li a svg {
  margin: auto;
  vertical-align: -4px;
}