@font-face {
  font-family: 'Fira Mono';
  src: url("/assets/fonts/fira-mono/FiraMono-Regular.woff") format("woff"), url("/assets/fonts/fira-mono/FiraMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Mono';
  src: url("/assets/fonts/fira-mono/FiraMono-Bold.woff") format("woff"), url("/assets/fonts/fira-mono/FiraMono-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

