/* Lato */
@font-face {
  font-family: 'LatoWebBlack';
  src: url('/assets/fonts/lato/Lato-Black.woff2') format('woff2'), url('/assets/fonts/lato/Lato-Black.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebBlack';
  src: url('/assets/fonts/lato/Lato-BlackItalic.woff2') format('woff2'), url('/assets/fonts/lato/Lato-BlackItalic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebBold';
  src: url('/assets/fonts/lato/Lato-Bold.woff2') format('woff2'), url('/assets/fonts/lato/Lato-Bold.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebBold';
  src: url('/assets/fonts/lato/Lato-BoldItalic.woff2') format('woff2'), url('/assets/fonts/lato/Lato-BoldItalic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebHairline';
  src: url('/assets/fonts/lato/Lato-Hairline.woff2') format('woff2'), url('/assets/fonts/lato/Lato-Hairline.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebHairline';
  src: url('/assets/fonts/lato/Lato-HairlineItalic.woff2') format('woff2'), url('/assets/fonts/lato/Lato-HairlineItalic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebHeavy';
  src: url('/assets/fonts/lato/Lato-Heavy.woff2') format('woff2'), url('/assets/fonts/lato/Lato-Heavy.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebHeavy';
  src: url('/assets/fonts/lato/Lato-HeavyItalic.woff2') format('woff2'), url('/assets/fonts/lato/Lato-HeavyItalic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWeb';
  src: url('/assets/fonts/lato/Lato-Italic.woff2') format('woff2'), url('/assets/fonts/lato/Lato-Italic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebLight';
  src: url('/assets/fonts/lato/Lato-Light.woff2') format('woff2'), url('/assets/fonts/lato/Lato-Light.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebLight';
  src: url('/assets/fonts/lato/Lato-LightItalic.woff2') format('woff2'), url('/assets/fonts/lato/Lato-LightItalic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebMedium';
  src: url('/assets/fonts/lato/Lato-Medium.woff2') format('woff2'), url('/assets/fonts/lato/Lato-Medium.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebMedium';
  src: url('/assets/fonts/lato/Lato-MediumItalic.woff2') format('woff2'), url('/assets/fonts/lato/Lato-MediumItalic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWeb';
  src: url('/assets/fonts/lato/Lato-Regular.woff2') format('woff2'), url('/assets/fonts/lato/Lato-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebSemibold';
  src: url('/assets/fonts/lato/Lato-Semibold.woff2') format('woff2'), url('/assets/fonts/lato/Lato-Semibold.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebSemibold';
  src: url('/assets/fonts/lato/Lato-SemiboldItalic.woff2') format('woff2'), url('/assets/fonts/lato/Lato-SemiboldItalic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebThin';
  src: url('/assets/fonts/lato/Lato-Thin.woff2') format('woff2'), url('/assets/fonts/lato/Lato-Thin.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebThin';
  src: url('/assets/fonts/lato/Lato-ThinItalic.woff2') format('woff2'), url('/assets/fonts/lato/Lato-ThinItalic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

