figure {
  margin: 0 0 $leading-height 0;
}

$main-width: columns-width(4);

div#grid {
  margin: 0 auto;
  padding: ($leading-height * 2) 0;
  width: $main-width;
}

@media screen and (max-width: $main-width) {
  body {
    padding-left: $gutter-width;
    padding-right: $gutter-width;
  }

  div#grid {
    width: 100%;
  }
}

header[role=banner] {
  text-align: center;
  margin-bottom: $leading-height * 2;
}

header[role=banner] h1 a {
  text-decoration: inherit;
  color: inherit;
}

header[role=banner] nav {
  width: 100%;
}

header[role=banner] nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
}

header[role=banner] nav ul li {
  list-style: none;
  flex-grow: 1;
  text-align: center;
}

header[role=banner] nav ul li a {
  display: block;
}

section#posts article {
  margin-bottom: $leading-height * 2;
}

section#post header h1 {
  margin-bottom: 0;
}

section#post header {
  margin-bottom: $leading-height;
}

article header time,
h2.post-date {
  line-height: $line-height;
  margin-bottom: $leading-height;
  display: block;
}

blockquote,
pre {
  margin-left: $indent-width;
}
