@font-face {
  font-family: 'Playfair Display';
  src: url("/assets/fonts/playfair-display/PlayfairDisplay-Black.woff2") format("woff2"), url("/assets/fonts/playfair-display/PlayfairDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("/assets/fonts/playfair-display/PlayfairDisplay-BlackItalic.woff2") format("woff2"), url("/assets/fonts/playfair-display/PlayfairDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: Italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("/assets/fonts/playfair-display/PlayfairDisplay-Bold.woff2") format("woff2"), url("/assets/fonts/playfair-display/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("/assets/fonts/playfair-display/PlayfairDisplay-BoldItalic.woff2") format("woff2"), url("/assets/fonts/playfair-display/PlayfairDisplay-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: Italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("/assets/fonts/playfair-display/PlayfairDisplay-Regular.woff2") format("woff2"), url("/assets/fonts/playfair-display/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("/assets/fonts/playfair-display/PlayfairDisplay-Italic.woff2") format("woff2"), url("/assets/fonts/playfair-display/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: 400;
  font-style: Italic;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url("/assets/fonts/playfair-display/PlayfairDisplaySC-Black.woff2") format("woff2"), url("/assets/fonts/playfair-display/PlayfairDisplaySC-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url("/assets/fonts/playfair-display/PlayfairDisplaySC-BlackItalic.woff2") format("woff2"), url("/assets/fonts/playfair-display/PlayfairDisplaySC-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: Italic;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url("/assets/fonts/playfair-display/PlayfairDisplaySC-Regular.woff2") format("woff2"), url("/assets/fonts/playfair-display/PlayfairDisplaySC-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url("/assets/fonts/playfair-display/PlayfairDisplaySC-Italic.woff2") format("woff2"), url("/assets/fonts/playfair-display/PlayfairDisplaySC-Italic.woff") format("woff");
  font-weight: 400;
  font-style: Italic;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url("/assets/fonts/playfair-display/PlayfairDisplaySC-Bold.woff2") format("woff2"), url("/assets/fonts/playfair-display/PlayfairDisplaySC-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url("/assets/fonts/playfair-display/PlayfairDisplaySC-BoldItalic.woff2") format("woff2"), url("/assets/fonts/playfair-display/PlayfairDisplaySC-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: Italic;
}
