a {
  color: #000;
}

a:visited {
  color: #888;
}

a:hover {
  color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", sans-serif;
}

article h1 {
  @include header($double-small-pica);
}

article h2 {
  @include header($great-primer);
}

article h3 {
  @include header($english);
}

article.link h1,
article.link h2,
article.link h3,
article h4,
article h5,
article h6 {
  font-size: $font-size + 2;
  margin-bottom: 0;
}

article header time,
h2.post-date {
  font-size: $font-size - 3;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "LatoWeb", Helvetica, Verdana, sans-serif;
}

header[role=banner] nav a {
  font-weight: bold;
  font-family: "LatoWeb", Helvetica, Verdana, sans-serif;
}

header[role=banner] h1 {
  font-family: "Playfair Display", sans-serif;
  text-transform: uppercase;
}

body {
  font-family: "Crimson", Georgia, "Times New Roman", Times, serif;
}

pre,
code {
  font-family: "Fira Mono", "Menlo", "Courier New", "Courier", monospace;
}

pre code {
  font-size: $font-size - 3;
  display: block;
}

code {
  color: #555;
  font-size: $font-size - 3;
}

blockquote {
  font-size: $font-size - 2;
  font-family: "LatoWeb", Helvetica, Verdana, sans-serif;
  color: #555;
}
