a {
  color: #000;
}

a:visited {
  color: #888;
}

a:hover {
  color: #555;
}

h1 {
  @include header($double-small-pica-ratio);
}

h2 {
  @include header($great-primer-ratio);
}

h3 {
  @include header($english-ratio);
}

.link h1,
.link h2,
.link h3,
article h4,
article h5,
article h6 {
  line-height: $leading-height;
  font-size: $font-size + 2;
  margin-bottom: $leading-height;
}

article header time,
h2.post-date {
  font-size: $font-size - 3;
  font-weight: bold;
  text-transform: uppercase;
}

header[role=banner] h1 {
  @include header($double-great-primer-ratio);
  text-transform: uppercase;
}

header[role=banner] nav a {
  font-weight: bold;
}

sub,
sup {
  margin-left: 1px;
  font-size: $brevier;
}

code {
  color: #555;
  font-size: $font-size - 4;
}

pre code {
  font-size: $font-size - 2;
  display: block;
}

blockquote {
  font-size: $font-size - 1;
  color: #555;
}
