a {
  color: #000;
}

a:visited {
  color: #888;
}

a:hover {
  color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", sans-serif;
}

h1 {
  @include header($double-small-pica-ratio);
}

h2 {
  @include header($great-primer-ratio);
}

h3 {
  @include header($english-ratio);
}

.link h1,
.link h2,
.link h3,
article h4,
article h5,
article h6 {
  line-height: $leading-height;
  font-size: $font-size + 2;
  margin-bottom: $leading-height;
}

article header time,
h2.post-date {
  font-size: $font-size - 3;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "LatoWeb", Helvetica, Verdana, sans-serif;
}

header[role=banner] h1 {
  @include header($double-great-primer-ratio);
}

header[role=banner] nav a {
  font-weight: bold;
  font-family: "LatoWeb", Helvetica, Verdana, sans-serif;
}

header[role=banner] h1 {
  font-family: "Playfair Display", sans-serif;
  text-transform: uppercase;
}

body {
  font-family: "Crimson", Georgia, "Times New Roman", Times, serif;
}

sub,
sup {
  margin-left: 1px;
  font-size: $brevier;
}

pre,
code {
  font-family: "Fira Mono", "Menlo", "Courier New", "Courier", monospace;
}

pre code {
  font-size: $font-size - 2;
  display: block;
}

code {
  color: #555;
  font-size: $font-size - 4;
}

blockquote {
  font-size: $font-size - 1;
  font-family: "LatoWeb", Helvetica, Verdana, sans-serif;
  color: #555;
}
