---
# Only the main Sass file needs front matter (the dashes are enough)
---

$font-size: 15px;
$line-height: 22px;

@import "../vendor/raster/dist/scss/raster.scss";
@import "layout";
@import "typography";
@import "fonts";
