---
# Only the main Sass file needs front matter (the dashes are enough)
---

$font-size: 12px;
$line-height: 17px;

@import "../vendor/raster/dist/raster.scss";

div#grid {
  margin: 0 auto;
  padding: ($leading-height * 3) 0;
  width: columns-width(4);
}

header[role=banner] {
  text-align: center;
  margin-bottom: $leading-height;
}

header[role=banner] h1 a {
  text-decoration: inherit;
  color: inherit;
}

header[role=banner] nav {
  width: 100%;
}

header[role=banner] nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
}

header[role=banner] nav ul li {
  list-style: none;
  flex-grow: 1;
  text-align: center;
}

header[role=banner] nav ul li a {
  display: block;
}

