---
layout: default
---

        {%- if page.title %}
        <header id="page-title">
          <h1>{{ page.title }}</h1>
        </header>
        {%- endif -%}
{{ content }}

        {%- if site.posts.size > 0 %}
        <section id="archive">

          {%- assign date_format = site.cyclist.date_format | default: "%b, %Y" -%}
          {%- for post in site.posts %}
          {% assign post_date = post.date | date: date_format -%}
          {% if current_date != post_date and current_date %}
          </ul>
          {% endif -%}
          {%- if current_date != post_date %}
          <h2 class="post-date"><time datetime="{{ post.date | date: "%Y-%m" }}">{{ post_date }}</time></h2>
          {% assign current_date = post_date -%}
          <ul>
          {%- endif %}
            <li class="{{ post.layout | default: "Post" }}">
              {% if post.image %}
              <a href="{{ post.url | relative_url }}"><img src="{{ post.image | relative_url }}" alt="Image for {{ post.title | escape }}"></a>
              {% endif %}
              <h1><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h1>
            </li>
          {% endfor %}
          </ul>

        </section>
        {% endif -%}
