---
layout: default
---

        {%- if page.title %}
        <header id="page-title">
          <h1>{{ page.title }}</h1>
        </header>
        {%- endif -%}
{{ content }}

        {%- if site.posts.size > 0 %}
        <section>

          {%- assign date_format = site.bicycle.date_format | default: "%b %-d, %Y" -%}
          {%- for post in site.posts %}
          {% if current_date != post.date %}
          <h2 class="post-date"><span>{{ post.date | date: date_format }}</span></h2>
          {% endif %}
          {%- assign current_date = post.date %}

          <article class="{{ post.layout | default: "Post" }}">
            <header>
              <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
            </header>
            {%- if site.show_excerpts -%}
{{ post.excerpt }}
            {%- endif -%}
            {%- if site.show_contents -%}
{{ post.content }}
            {%- endif -%}
          </article>
          {%- endfor %}

        </section>
        {% endif -%}
